<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- BEGIN script for Google Maps autocomplete -->

    <!-- <script async
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjwwk1WLPrGsZnwh0Vp4zNoSh15jjGljw&callback=initAutocomplete"> 
    </script> -->

    <!-- deleted &callback=initMap from end of script src -->
    <!-- removed location from src="https://maps.googleapis.com/maps/api/js?libraries=places&location=43.000000%-75.000000&key=AIzaSyDjwwk1WLPrGsZnwh0Vp4zNoSh15jjGljw"> -->    
    <!-- END script for Google Maps autocomplete -->

     <!-- BEGIN script for Google Maps API  *** >>not autocomplete<< *** -->
     <script async
     src="https://maps.googleapis.com/maps/api/js?libraries=places&key=MyAPIkey"> 
   </script>
   <!-- END script for Google Maps API  *** >>not autocomplete<< *** -->

    
  </body>
</html>
